<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head >
        <div th:fragment="mihead">
            <meta charset="UTF-8">
            <title th:text="${#strings.capitalizeWords(nameShop)}">Nombre de  la Tienda</title>


            <!--=============== FAVICON ===============-->
            <link rel="shortcut icon" href="/img/favicon.png" type="image/x-icon">

            <!--=============== REMIX ICONS ===============-->
            <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">

            <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

            <!--=============== CSS ===============-->
            <link rel="stylesheet" href="/css/styles.css">
            <!--<link rel="stylesheet" th:href="'/css/'${css}'.css'">-->
        </div>

        <div th:fragment="login">

            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <meta http-equiv="X-UA-Compatible" content="ie=edge">

            <title th:text="${#strings.capitalizeWords(nameShop)}">Sin Host</title>

            <!--=============== FAVICON ===============-->
            <link rel="shortcut icon" href="/img/favicon.png" type="image/x-icon">

            <!--=============== REMIX ICONS ===============-->
            <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">

            <!--=============== STYLESHEET ===============-->
            <link href="https://fonts.googleapis.com/css?family=Karla:400,700&display=swap" rel="stylesheet">
            <link rel="stylesheet" href="https://cdn.materialdesignicons.com/4.8.95/css/materialdesignicons.min.css">
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

            <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

            <!--=============== CSS ===============-->
            <link rel="stylesheet" href="/css/login.css">
            <link rel="stylesheet" href="/css/styles.css">
        </div>
    </head>
</html>