<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head th:fragment="mihead">
        <meta charset="UTF-8">
        <title th:text="${#strings.capitalizeWords(nameShop)}">Nombre de  la Tienda</title>


        <!--=============== FAVICON ===============-->
        <link rel="shortcut icon" href="/img/favicon.png" type="image/x-icon">

        <!--=============== REMIX ICONS ===============-->
        <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">

        <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

        <!--=============== CSS ===============-->
        <link rel="stylesheet" href="/css/styles.css">
    </head>
</html>