<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
    <head th:replace="head/head :: mihead"></head>

    <-! El color de fondo va a cambiar dependiendo de la hora del día y del evento del año -->
    <body th:bgcolor="${color}">
        <!--Barra de navegación-->
        <div th:replace="navegation/menu :: menu" ></div>
        <main>
            <!-- contenido de la web -->
            <th:block th:insert="~{windows/home :: front}"/>
            <th:block th:insert="~{windows/front :: about}"/>
            <th:block th:insert="~{windows/front :: steps}"/>
            <th:block th:insert="~{windows/catalogo :: productos}"/>
            <th:block th:insert="~{windows/contact :: contact}"/>
        </main>
        <th:block th:insert="~{footer/footer :: pie}"/>
        <th:block th:insert="~{js/javascript :: js}"/>
    </body>
</html>