<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">

    <body>
        <!--==================== PRODUCTS ====================-->
        <section th:fragment="productos" class="product section container" id="products">
            <h2 class="section__title-center">
                Consulte nuestros <br> productos
            </h2>

            <p class="product__description">
                Compre con la mejor calidad y con garantía de 2 años.
            </p>

            <div class="product__container grid">
                <!--
                <article class="product__card" th:each="producto:${productos}">
                    <div class="product__circle"></div>

                    <img src="http://placehold.it/400x400" alt="" th:src="${#strings.isEmpty(producto.imagen) ? ${producto.imagen} : ''}"
                         class="product__img">

                    <h3 class="product__title" th:text="${producto.nombre}">Nombre del producto</h3>
                    <span th:class="${producto.descuento==0} ? 'product__price' : 'product__price__discount'" th:text="${#numbers.formatDecimal(producto.pvp,1,'POINT',2,'COMMA')+'€'}">...</span>
                    <span th:class="${producto.descuento==0} ? 'hide product__price' : ''" th:text="${#numbers.formatDecimal(producto.pvp-producto.pvp*producto.descuento,1,'POINT',2,'COMMA')+'€'}">...</span>

                    <button class="button--flex product__button">
                        <i class="ri-shopping-bag-line"></i>
                    </button>
                </article>-->
                <article class="product__card" th:each="producto:${productos}">

                    <img src="assets/img/product1.png" alt="" class="product__img">

                    <h3 class="product__title" th:text="${producto.nombre}">Nombre del producto</h3>
                    <span class="product__price">$19.99</span>

                    <button class="button--flex product__button">
                        <i class="ri-shopping-bag-line"></i>
                    </button>
                </article>


            </div>
        </section>
    </body>
</html>