<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
    <body>
        <!--==================== CONTACTO ====================-->
        <section th:fragment="contact" class="contact section container" id="contact">
            <div class="contact__container grid">
                <div class="contact__box">
                    <h2 class="section__title">
                        Ponga en contactos <br> con nosotros <br> hoy
                    </h2>

                    <!--
                    <span class="contact__description">
                        <i class="ri-phone-line contact__icon"></i>
                        +999 888 777
                    </span> -->

                    <div class="contact__data">
                        <div class="contact__information">
                            <h3 class="contact__subtitle">Teléfono</h3>
                            <div class="contact__description">
                                <i class="ri-phone-line contact__icon"></i>
                                <a th:text="${phone}"></a>
                            </div>
                        </div>

                        <!--
                        <span class="contact__description">
                                <i class="ri-mail-line contact__icon"></i> user@
                            </span>-->

                        <div class="contact__information">
                            <h3 class="contact__subtitle">Escríbenos</h3>
                            <div class="contact__description">
                                <i class="ri-mail-line contact__icon"></i>
                                <p><a>contacto@</a><a th:text="${domain}"></a></p>
                            </div>
                        </div>
                    </div>
                </div>

                <form action="" class="contact__form">
                    <div class="contact__inputs">
                        <div class="contact__content">
                            <input type="email" placeholder=" " class="contact__input">
                            <label for="" class="contact__label">Correo</label>
                        </div>

                        <div class="contact__content">
                            <input type="text" placeholder=" " class="contact__input">
                            <label for="" class="contact__label">Asunto</label>
                        </div>

                        <div class="contact__content contact__area">
                            <textarea name="message" placeholder=" " class="contact__input"></textarea>
                            <label for="" class="contact__label">Mensaje</label>
                        </div>
                    </div>

                    <button class="button button--flex">
                        Enviar Mensaje
                        <i class="ri-arrow-right-up-line button__icon"></i>
                    </button>
                </form>
            </div>
        </section>
    </body>
</html>