<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  lang="es">
    <body>
        <!--==================== HOME ====================-->
        <section th:fragment="front" class="home" id="home">
            <div class="home__container container grid">
                <img src="/img/front.png" alt="" class="home__img">

                <div class="home__data">
                    <h1 class="home__title">
                        Lorem Ipsum <br> Technology
                    </h1>
                    <p class="home__description">
                        Nibh venenatis cras sed felis eget.
                    </p>
                    <a href="#about" class="button button--flex">
                        Explorar <i class="ri-arrow-right-down-line button__icon"></i>
                    </a>
                </div>

                <div class="home__social">
                    <span class="home__social-follow">Siguenos</span>

                    <div class="home__social-links">
                        <a href="https://www.facebook.com/" target="_blank" class="home__social-link">
                            <i class="ri-facebook-fill"></i>
                        </a>
                        <a href="https://www.instagram.com/" target="_blank" class="home__social-link">
                            <i class="ri-instagram-line"></i>
                        </a>
                        <a href="https://twitter.com/" target="_blank" class="home__social-link">
                            <i class="ri-twitter-fill"></i>
                        </a>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>